<h1>Hello, world!!</h1>

<p>
    Hi! This is a placeholder for your home page for your yearbook. How cool is this?!
</p>

<p>
    You are going to replace this placeholder template with your yearbook homepage. This page should contain the following:
    <ul>
        <li>A title</li>
        <li>A list of yearbook messages that have been written for you</li>
        <li>For each message, a picture, the person's name, and the time the message was created should be displayed.</li>
        <li>A button that someone clicks to add a message to your yearbook.</li>
    </ul>
</p>

<p>It's gonna be awesome, guys. Get excited!!</p>

